/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Custom CSS for Elm App */
/* Nav elements */

nav li:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

nav li.active {
  color: aqua;
}

/* Mood Emoticons */
.mood_icon {
  border-radius: 90%;
  color: rgb(204, 204, 204);
}

.mood_icon:hover {
  cursor: pointer;
}

.mood_icon.fa-smile-beam:hover {
  color: rgb(82, 255, 165);
}

.mood_icon.fa-smile-beam.selected {
  color: rgb(82, 255, 165);
  background-color: rgba(82, 255, 166, 0.1);
}

.mood_icon.fa-meh:hover {
  color: rgb(232, 225, 92);
}

.mood_icon.fa-meh.selected {
  color: rgb(232, 225, 92);
  background-color: rgba(232, 225, 92, 0.1);
}

.mood_icon.fa-sad-tear:hover {
  color: rgb(235, 96, 136);
}

.mood_icon.fa-sad-tear.selected {
  color: rgb(235, 96, 136);
  background-color: rgba(235, 96, 136, 0.1);
}

/* Mood blocks */
.mood_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
}

.mood_block:hover {
  filter: brightness(110%);
  transform: scale(1.1);
}
